contourpy>=1.0.1,<2
numba>=0.60,<1
Shapely>=2.0.6,<3
numpy>=1.26.4,<2.5
scipy>=1.15.3,<2
threadpoolctl>=3.6.0,<4
matplotlib>=3.10.3,<4
h5py>=3.13,<4
deepdiff>=7.0.1,<9
scikit-image>=0.25.2,<1
notebook>=7.4.2,<8
cvxpy>=1.7.5,<2
freeqdsk>=0.5.2,<0.6
imas-python[netcdf]>=2.3.0,<3